#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Mon Nov  2 14:04:45 2020

@author: dinesh
"""

include *.txt
include *.md
include *.pkl
recursive-include ./tests/*

exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
